h3 {
    margin-bottom: 0;
}
.notes-field,
.signature-field {
    margin-top: 0.25em;
}
h2 button {
    vertical-align: middle;
}
.editable-field {
    display: none;
}
.cancel-text {
    font-size: 12px;
    vertical-align: bottom;
}
#comments {
    width: 600px;
    height: 150px;
}
.provisional-comments {
    box-shadow: inset 0 0 5px gold;
}
.destinations-table {
    width: 100%;
}
.limit-input {
    width: 30px;
}
.destination-header {
    width: 210px;
}
.approval-header,
.cc-status-header,
.current-limit-header {
    width: 80px;
}
.expiration-header {
    width: 170px;
}
.mode-header {
    width: 120px;
}
.comment-input {
    width: 95%;
}
.footer {
    display: table;
    width: 100%;
}
.footer-row {
    display: table-row;
}
.footer-row > div {
    display: table-cell;
}
.history-panel {
    text-align: right;
    vertical-align: bottom;
}
input[readonly],
textarea[readonly] {
    background-color: #dddddd;
}
#cancel-button {
    vertical-align: bottom;
}

.accordion .ui-widget-content a {
    color: blue;
}
.accordion .ui-widget-content a:hover {
    color: red;
}

.status-tree .jstree-anchor {
    position: relative;
    right: -22px;
}

.status-tree .jstree-themeicon::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: top;
    position: relative;
    left: -22px;
    top: 4px;
}

div.jstree .jstree-clicked,
div.jstree .jstree-hovered {
    box-shadow: none;
    border-radius: 0;
    background: none;
}

.jstree > ul > li.jstree-closed > i.jstree-ocl {
    background-position: -132px -69px;
}

.jstree > ul > li.jstree-open > i.jstree-ocl {
    background-position: -164px -69px;
}

.status-tree .jstree-node[data-status="Ready"] > .jstree-anchor > .jstree-themeicon::before {
    background: url("../img/ready.png") 0 0;
}

.status-tree .jstree-node[data-status="Not Ready"] > .jstree-anchor > .jstree-themeicon::before {
    background: url("../img/not-ready.png") 0 0;
}