h3 {
    margin-bottom: 0;
}
.notes-field,
.signature-field {
    margin-top: 0.25em;
}
.auth-notes-span {
    white-space: pre-line;
}
#rf-comments,
#beam-comments {
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 1em;
}
h2 button {
    vertical-align: middle;
}
.editable-field {
    display: none;
}
.cancel-text {
    font-size: 12px;
    vertical-align: bottom;
}
#comments {
    width: 600px;
    height: 150px;
}
.provisional-comments {
    box-shadow: inset 0 0 5px gold;
}
.destinations-table {
    width: 100%;
}
.limit-input {
    width: 30px;
}
.destination-header {
    width: 210px;
}
.approval-header,
.cc-status-header,
.current-limit-header {
    width: 80px;
}
.expiration-header {
    width: 110px;
}
th.mode-header {
    width: 75px;
}
.comment-input {
    width: 95%;
}
th.approval-header {
    width: 50px;
}
input[readonly],
textarea[readonly] {
    background-color: #dddddd;
}
#cancel-button {
    vertical-align: bottom;
}

.accordion .ui-widget-content a {
    color: blue;
}
.accordion .ui-widget-content a:hover {
    color: red;
}
.footer-panel,
.control-panel {
    display: flex;
    margin-bottom: 1em;
}
.control-item {
    flex: 1 1 50%;
}
.logentry-panel {
    flex: 2;
    text-align: right;
}